body { 
    padding-top: 59px; 
}

.alert {
    margin-bottom: 1px;
    height: 40px;
    line-height:40px;
    padding:0px 15px;
  }

a{
    color: inherit; 
    text-decoration: inherit;
}


@media only screen and (min-width: 992px) {
    .flex-media {
        display: flex; 
        justify-content: space-between;
    }
  }