{% extends "layout.html" %} {% block title %}About{% endblock %} {% block
    body_content %}
    <br/>
    <h3 align="center">About</h3>

    <p>Our main goal is to create a web application for blogging/feeds, a venue to share their creativity and ideas to a wider audience. It can be used to gain or share knowledge from the posts/feeds on a particular topic. This app can be used as an alternative to blogging/feed websites, Quora, answers.com, stack-overflow, etc.</p>
    
    {% endblock %}
    