{% extends "layout.html" %} {% block title %}Contact{% endblock %} {% block
    body_content %}
    <br/>
    <h3 align="center">Contact: Project Group 9</h3>

    <table class="table-contact">
        <tr>
            <td>
                Shubham Shah
            </td>
            <td>
                801257810
            </td>
            <td>
                sshah107@uncc.edu
            </td>
        </tr>
        <tr>
            <td>
                Sourabh Pandey
            </td>
            <td>
                801204211
            </td>
            <td>
                spandey9@uncc.edu
            </td>
        </tr>
        <tr>
            <td>
                Jeel Patel
            </td>
            <td>
                801258860
            </td>
            <td>
                jpate146@uncc.edu
            </td>
        </tr>
        <tr>
            <td>
                Dhvani Patel
            </td>
            <td>
                801256208
            </td>
            <td>
                dpate186@uncc.edu
            </td>
        </tr>
    </table>

    
    {% endblock %}
    